body{
	font-family: 'Helvetica';
	background-color: #fbea86;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	flex-direction: column;
}
h1{
	letter-spacing: 2px;
	font-weight: 900;
	color: white;
  text-shadow: 2px 2px 4px #f4976c;
}
img{
	width: 150px;
}
img:hover{
	cursor: pointer;
}
button{
	font-size: 18px;
	padding: 20px 30px;
	border-radius: 5px;
	text-decoration: none;
	color: #f4976c;
	border:1px solid #f4976c;
	background-color: transparent;
	transition: color, background-color 0.3s ease-in;

}
button:hover{
	color: #fbea86;
	background-color: #f4976c;
	cursor: pointer;

}
.container-1{
	margin:20px auto;
	width: 75%;
	box-shadow: 5px 7px 10px rgba(250, 249, 246,0.3);
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-color: #f4976c;
	height: 70%;
}
#game{
	min-height: 90%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
table{
	width: 100%;
	text-align: center;
	border-top: 1px solid white;
	color: white;button
}